.btn {
    background-color: burlywood;
    color: black;
    padding: 10px;
    border: double;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
